.not-yet {
    display:none
}

.header {
    background-color: #435c2b;
    color: #fff;
    font-family: "EB Garamond", serif;
    font-optical-sizing: auto;
    font-weight: 800;
    padding: 4px;
  }

.nav-link {
    color: #fff;
    font-family: "EB Garamond", serif;
    font-optical-sizing: auto;
    font-weight: 500;
}

.nav-link:hover {
    color: #eec02e;
}
  
.logo {
    max-width: 100px;
    padding: 5px;
  }

.fullHeight {
    height: 90vh;
}

.fillOut {
    height: 100%;
}

.indexBkgrnd {
    background-image: url("../bookCase.jpg");
    background-repeat: repeat;
}

.searchBox {
    background-color: #435c2b;
    border-radius: 25px;
    color: #fff;
    font-family: "EB Garamond", serif;
    font-optical-sizing: auto;
    font-weight: 500;
    padding: 30px;
    filter: opacity(100%);
}

.btn-search {
    color: #fff;
    border-color:#fff;
    border-width: 2px;
    background-color: #435c2b;
    font-family: "EB Garamond", serif;
    font-optical-sizing: auto;
    font-weight: 500;
    margin-right: 10px;
    float: right;
    margin-top: 4px;
}

.btn-search:hover {
    background-color: #eec02e;
    border-color:#fff;
}

.inputFont {
    font-family: sans-serif;
}

.backButton {
    background-color: #435c2b;
    border-radius: 5px;
    color: #fff;
    padding: 6px;
    margin-top: 1%;
    margin-bottom: 1%;
    font-family: "EB Garamond", serif;
    font-optical-sizing: auto;
    font-weight: 400;
}

.fitPlot {
    max-width: 100%;
    height: auto;
}

.pageWide {
    max-width: 100%;
    font-family: "EB Garamond", serif;
    font-optical-sizing: auto;
    font-weight: 400;
}

h1 {
    font-family: "EB Garamond", serif;
    font-optical-sizing: auto;
    font-weight: 700;
}

h2 {
    font-family: "EB Garamond", serif;
    font-optical-sizing: auto;
    font-weight: 600;
}

h7 {
    font-family: "EB Garamond", serif;
    font-optical-sizing: auto;
    font-weight: 400;
}

p {
    font-family: "EB Garamond", serif;
    font-optical-sizing: auto;
    font-weight: 400; 
}

.genres {
    background-color: #435c2b;
    border-radius: 5px;
    color: #fff;
    padding: 6px;
    font-family: "EB Garamond", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    text-decoration-line: none;
}

.genres:hover {
    background-color: #eec02e;
    border-color:#fff;
    color:#fff;
}

.genreBox {
    border-width: 0px;
}

.statusBox {
    background-color: #435c2b;
    color:#fff;
    border-width: 0px;
}

/*BOOK CARD MAKING*/

.bookCardRows {
    max-height:12000px;

}

.cardCarrier {
    margin-bottom: 5px;
}

.bookCard {
    color:#fff;
    background-color: #435c2b;
    border-style: solid;
    border-width: 3px;
    border-color: #eec02e;
    font-family: "EB Garamond", serif;
}


.bookCardMain{
    margin-left: 6%;
    max-width: 92%;
    border-left-width: 2px;
    border-left-style: solid;
    border-left-color: #eec02e;
    height: 100%;
    background-image: url(../bookBkGrd2.jpeg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-color: #435c2b;
}

.bookCardInner{
    padding:7px;
    padding-left:5px;
    height:100%;
    width:100%;
}

.bookCardTitle{
    font-weight: 600;
    padding-top: 8px;
    padding-left: 5px;
    padding-right: 5px;
}

.bookCardAuthor{
    font-weight: 500;
}

.bookCardText{
    font-weight: 400;
    margin-bottom: 0%;
    padding-left: 3px;
    padding-right: 3px;
}

.bookCardItem{
    color:#fff;
}

.bookCardLink {
    color:#fff;
    text-decoration-line: none;
    margin-bottom: 0px;
    border-color: #eec02e;
    border-style: solid;
    border-width: 2px;
    border-radius: 3px;
    padding:2px;
    padding-left: 6px;
    padding-right: 6px;
}

.bookCardLink:hover {
    color:#eec02e;
}

.bookCardGenreItem {
    text-wrap: nowrap;
    margin-left: 1px;
    margin-right: 1px;
    margin-top: 6px;
}

.bookCardGenreList {
    width: 100%;
}

.aboutFriends {
    width: 90%;
}