{% extends "layout.html" %}

{% block title %}
About
{% endblock %}

{% block content %}

<h2>
    About BookGood
</h2>

<p>
    BookGood is a collaborative project by Jami Biddle, Edward Delmonico, and Sonja Tapio for LDA-T316 Building NLP Applications
    at the University of Helsinki.
</p>

<p>
    We hope you can use BookGood to figure out which new releases this month might be interesting for you to read!
</p>

<p>
    Data Scraped from: https://www.bookreporter.com/
</p>

<h4>
    Special shoutout to the team pets: Bandit, Bro, Bebe, Misty and Arwen.
</h4>

<div class="container">
    <img class = "aboutFriends" src="../static/PXL_20231119_150738636.png" style="rotate:-90deg;">
    <img class = "aboutFriends" src="../static/IMG_0636.png">
    <img class = "aboutFriends" src="../static/IMG_0639.png">
    <img class = "aboutFriends" src="../static/IMG_0641.png">
</div>


<!--
scroll to the right for a surprise
<div class="container">
    <img src="../static/PXL_20231119_150738636.png" style="rotate:-90deg;">
</div>
-->


{% endblock %}