{% extends "layout.html" %}
{% block title %}
{{book['title']}}
{% endblock %}

{% block content %}
<div class="container">
    <h1>
        {{book['title']}}
    </h1>
    <h2>
        {{book['author']}}
    </h2>
    <img src="data:image/png;base64,{{ mood }}" alt="Plot"> 
    <ul class="list-group list-group-horizontal">
        {% for genre in book['genres'] %}
        <li class="list-group-item">
            <a href="{{ url_for('display_genres', genre=genre) }}" class="">{{ genre }}</a>
        </li>
        {% endfor %}
    </ul>
    <p>
        {{book['review']}}
    </p>
    <button onclick="window.history.back()">back</button>
</div>

    {% endblock %}