{% extends "layout.html" %}

{% block title %}
{{ genre }} Books
{% endblock %}

{% block content %} 
    {% if books %}
    <div class = "row" style = "margin-top: 1%;">
      <div class = "col-1">
        <button onclick="window.history.back()" class = "backButton">Back</button>
      </div>
      <div class = "col">
        <h2 class="mb-3">Books in the '{{ genre }}' genre</h2>
      </div>

    </div>

    <div class="row bookCardRows ">
      {% for book in books %}
      <div class="col-3">
        <div class = "cardCarrier ratio" style="--bs-aspect-ratio: 150%;">
        <div class = "bookCard">
          <div class = "bookCardMain">
            <div class = "bookCardInner d-flex justify-content-between flex-column">
              <h4 class="bookCardTitle d-flex text-center justify-content-center">{{ book['title'] }}</h5>
              <h5 class="bookCardAuthor d-flex justify-content-center">{{ book['author'] }}</h5>
              <div class = "d-flex justify-content-evenly bookCardGenreList flex-wrap">
                {% for genre in book['genres'] %}
                  {% if loop.index <= 6 %}
                    <div class="bookCardGenreItem"><a href="{{ url_for('display_genres', genre=genre) }}" class="bookCardLink">{{ genre }}</a></div>
                  {% endif %}
                {% endfor %}
              </div>
              <p class="bookCardText">{{ book['review'][:200] + '...' }}</p>
              <div class= "d-flex justify-content-center">
                <a href="{{ url_for('display_book', id=book['id']) }}" class="bookCardLink">See more</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
      {% endfor %}
    
    </div>
    {% else %}
        <h2>No books found for the genre '{{ genre }}'</h2>
    {% endif %}

{% endblock %}