{% extends "layout.html" %}

{% block title %}
{{ genre }} Books
{% endblock %}

{% block content %} 
    {% if books %}
    <div class = "row" style = "margin-top: 1%;">
      <div class = "col-1">
        <button onclick="window.history.back()" class = "backButton">Back</button>
      </div>
      <div class = "col">
        <h2 class="mb-3">Books in the '{{ genre }}' genre</h2>
      </div>

    </div>

    <div class="row bookCardRows ">
      {% for book in books %}
      <div class="col-3">
        <div class = "cardCarrier ratio" style="--bs-aspect-ratio: 150%;">
        <div class = "bookCard">
          <div class = "bookCardMain">
            <div class = "bookCardInner d-flex justify-content-between flex-column">
              <h4 class="bookCardTitle d-flex text-center justify-content-center">{{ book['title'] }}</h5>
              <h5 class="bookCardAuthor d-flex justify-content-center">{{ book['author'] }}</h5>
              <div class = "d-flex justify-content-evenly bookCardGenreList">
                {% for genre in book['genres'] %}
                <!--{% if loop.index <= 2 %}-->
                  <div class="bookCardGenreItem">{{ genre }}</div>
                  
                <!--{% endif %}-->
                {% endfor %}

              </div>
              <!--
              <ul class="list-group list-group-horizontal text-center">
                {% for genre in book['genres'] %}
                {% if loop.index <= 3 %}
                  <li class="list-group-item bookCardItem flex-fill">{{ genre }}</li>
                {% endif %}
                {% endfor %}
              </ul>
              -->
              <p class="bookCardText">{{ book['review'][:200] + '...' }}</p>
              <div class= "d-flex justify-content-center">
                <a href="{{ url_for('display_book', id=book['id']) }}" class="bookCardLink">See more</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
      {% endfor %}
    
    </div>
    {% else %}
        <h2>No books found for the genre '{{ genre }}'</h2>
    {% endif %}

{% endblock %}