{% extends "layout.html" %}
{% block title %}
BookGood
{% endblock %}

{% block content %}
   <div class="row fillOut indexBkgrnd">
            <div class = "col"></div>
            <div class = "col-md-8 d-flex">
               <!-- <div class = "d-flex align-items-center">-->
                    <div class = "align-self-center flex-grow-1 searchBox">
                        <form action="/search" method="get">
                        <div class="mb-3">
                            <h1 class="mb-3">Search for a book</h2>

                            <input type="text" placeholder="Try &quot;intense&quot; or &quot;romantic&quot; " name="query" class="form-control inputFont">
                        </div>
                        <div class="mb-3">
                            <label for="search_type">Select Search Type:</label>
                            <select id="search_type" name="search_type" class="form-control">
                                <option value="boolean">Boolean Search</option>
                                <option value="tfidf">TF-IDF Search</option>
                                <option value="neural">Neural Search</option>
                            </select>
                        <button type="submit" class="btn btn-primary btn-search">Search</button>
                    </form>
                    {% if msg %}
                    <div id="msg">
                        {{msg}}
                    </div>
                    {% endif %}

                    <ul class="list-group list-group-horizontal">
                        <li class="list-group-item" id="book-status"></li>
                        <li class="list-group-item" id="mood-status"></li>
                        <li class="list-group-item d-none" id="ready">let's rock</li>
                    </ul>

                </div>
            </div>
            <div class = "col"></div>
   </div>
   
    {% endblock %}

    
