{% extends "layout.html" %}
{% block title %}
check out this title I made work with partials
{% endblock %}

{% block content %}
    <h1>What's up nerds</h1>
    <!-- <h2 class="collapsible active not-yet">boolean search</h2>
    <div class="content not-yet">
        <form action="/search">
            <input type="text" placeholder="search me" name="boolean-query">
            <button type="submit">do it (boolean style)</button>
        </form>
    </div> -->
    <h2 class="collapsible">tf/idf search</h2>
    <div class="content active">
        <form action="/tfidf">
            <input type="text" placeholder="search me" name="tf-idf-query">
            <button type="submit">do it (tf/idf style)</button>
        </form>
    </div>
   
    {% endblock %}