{% extends "layout.html" %}
{% block title %}
BookGood
{% endblock %}

{% block content %}
   <div class="container">
    
    <div class="container">
        <form action="/tfidf">
            <div class="mb-3">
                <h2 class="mb-3">Search for a book</h2>
                <input type="text" placeholder="What are you looking for?" name="tf-idf-query" class="form-control">
            </div>
            
            <button type="submit" class="btn btn-primary">Search</button>
        </form>
    </div>
   </div>
    {% endblock %}