<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./styles/app.css">
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
    <header>header!
        {% block header %} {% endblock %}
    </header>
    <nav>navbar? dare we dream?
        {% block navbar %} {% endblock %}
    </nav>
    <main>
        {% block content %}{% endblock %}
    </main>
    <footer>footer!
        {% block footer %} {% endblock %}
    </footer>

    <script>
        var coll = document.getElementsByClassName("collapsible");
        var i;
        
        for (i = 0; i < coll.length; i++) {
          coll[i].addEventListener("click", function() {
            this.classList.toggle("active");
            var content = this.nextElementSibling;
            if (content.style.display === "block") {
              content.style.display = "none";
            } else {
              content.style.display = "block";
            }
          });
        }
        </script>

</body>
</html>